@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    background-color: #fff;
}
.container{
    width:calc(100% - 120px) ;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
a{
    text-decoration: none;
}
.active{
    font-weight: 700;
}
.header{
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0px 1.647px 8.237px 0px rgba(0, 0, 0, 0.20);

    position:sticky ;
    top:0;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo a{
    color: #545BE8;
}
.navbar{
    color:  #101928;
    display: flex;
    align-items: center;
    gap: 15px;
}
.navbar a{
    color:#101928;
}
.botton{
    display: flex;
    gap: 15px;
}
.botton .login{
    background-color: #fff;
    color: #545BE8;
    padding: 5px 24px;
    border-radius: 5px;
    font-family: Inter;
    border: 0.412px solid #545BE8;
}
.botton .Register{
    background-color: #545BE8;
    color: #fff;
    padding: 5px 24px;
    border-radius: 5px;
    font-family: Inter;
    border: 0.412px solid #545BE8;
}
.Testimonials{
    padding: 40px 0px;
}
.Testimonials .h2{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.Testimonials .row{
    gap: 40px;
}
.Testimonial{
 width: calc((100% - 40px) / 2);
 display: flex;
 flex-direction: column;
 box-shadow: 0px 8.237px 8.237px 0px rgba(0, 0, 0, 0.20);
 padding: 40px 30px;
position: relative;
}
.Testimonial ::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: #cdc4c4 solid 70px;
    border-left: transparent solid 70px;
}
.Testimonial img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.Testimonial .user-data{
    display: flex;
    gap: 20px;
    align-items:center;
}
.Testimonial .user-data span{
    color: #969696;
}
.Testimonial .user-name{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Testimonial-starts{
    display: flex;
    gap: 7px;
}
.Testimonial svg{
    box-sizing: content-box;
    width: 25px;
    height: 25px;
    padding: 20px 0px;
}
.footer{
    padding: 20px 0;
    background-color: #393E46;
}
.footer .row{
    display: flex;
    gap: 20px;
}

.footer-right{
    width:calc((100% - 20px) / 3);
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer-logo a{
    color: #fff;
}
.footer p{
    color: #F4F4F4;
    font-size: 12px;
    padding: 15px 0px ;
}
.social-media{
    display: flex;
    gap: 15px;
    padding: 15px 0px ;
}
.footer svg{
    box-sizing: content-box;
    width: 15px;
    height: 15px;
    padding: 5px;
    fill: #fff;
    border: #fff solid 1px;
}
.footer-left{
    width:calc((100% - 20px) / 1.5);
    display: flex;
    justify-content: space-around;
}
.footer-left a{
    color: #fff;
    font-size: 12px;
}
.footer-left h2{
    color: #fff;
    font-size: 20px;
}
.footer-left-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.footer-left-item nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
