@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:calc(100% - 120px) ;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    height: 5000px;
    background-color: antiquewhite;
}
a{
    text-decoration: none;
}
.active{
    font-weight: 700;
}
.header{
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0px 1.647px 8.237px 0px rgba(0, 0, 0, 0.10);
    position:sticky ;
    top:0;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo a{
    color: #545BE8;
}
.navbar{
    color:  #101928;
    display: flex;
    align-items: center;
    gap: 15px;
}
.navbar a{
    color:#101928;
}
.botton{
    display: flex;
    gap: 15px;
}
.botton .login{
    background-color: #fff;
    color: #545BE8;
    padding: 5px 24px;
    border-radius: 5px;
    font-family: Inter;
    border: 0.412px solid #545BE8;
}
.botton .Register{
    background-color: #545BE8;
    color: #fff;
    padding: 5px 24px;
    border-radius: 5px;
    font-family: Inter;
    border: 0.412px solid #545BE8;
}

